<div class="container">
  <div class="row justify-content-center">
    <h3>About</h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>このサイトは、1日の良かったことや嬉しかったこと等を投稿するサイトです。</p>
      <br>
      <p>
        皆さんは、良かったことの記憶と嫌なことの記憶、どちらの方がより印象に残っているでしょうか。
        人は、何度も繰り返し反復したものほど、記憶に残りやすいようです。
        嫌なことがあった時は、クヨクヨと悩んだり反省したり後悔したりと、自分の中で何度も何度も考えるため、
        良いことの記憶よりも嫌なことの記憶の方が、より脳に強く刻み込まれてしまうのです。
      </p>
      <br>
      <p>せっかくの人生、嫌なことより楽しいことを考えて過ごしませんか？
        嫌なことがあったときは、それと同じだけ良かったことも思い出してみましょう。
        皆さんで、"ちょっとしたいいこと"を日々共有してください
      </p>
      <br>
      <p>*利用にあたり、登録の必要はありません。匿名で投稿できますので、お気軽に投稿してください。</p>
      <p>*公序良俗に反するものや、他人の権利を侵害し、または他人の迷惑となるものを投稿することは禁止します。</p>
      <p>*上記に違反する投稿が見つかった場合、内容が本サイトの趣旨に反するものであると管理者が判断した場合は、
        投稿者の許可なく、投稿を削除することがあります。</p>
    </div>
  </div>
</div>