<div class="container">
  <div class="row justify-content-center">
    <h3>About</h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>このサイトは、1日のちょっとした「いいこと」を投稿するサイトです。</p>
      <br>
      <p>
        皆さんは、良かったことの記憶と嫌だったことの記憶、どちらの方がより印象に残っているでしょうか。
        人は、何度も繰り返し反復したものほど、記憶に残りやすくなっているそうです。
        そのため、ついつい考え込んでしまう嫌だったことや辛かったことほど、記憶に残りやすくなっています。
      </p>
      <br>
      <p>
        悩んだり反省したり、後悔したりする時間も大切ですが、それと同じだけ良かったこと、嬉しかったことも思い出してみませんか？
        嫌なことがあったときは、それと同じだけ良かったことも思い出して、気持ちと記憶をリセットしましょう。
        なんにもないと思っている日でも、他の人の話を聞けば、また違った視点で1日を振り返ることができるかもしれません。
        皆さんで、良かったこと、嬉しかったことを共有しましょう。
      </p>
      <br>
      <p>*利用にあたり、登録の必要はありません。匿名で投稿できますので、お気軽に投稿してください。</p>
      <p>*公序良俗に反するものや、他人の権利を侵害し、または他人の迷惑となるものを投稿することは禁止します。</p>
      <p>*上記に違反する投稿が見つかった場合、内容が本サイトの趣旨に反するものであると管理者が判断した場合は、
        投稿者の許可なく、投稿を削除することがあります。</p>
    </div>
  </div>
</div>