<div class="container">
  <div class="row justify-content-center">
    <h3>About</h3>
    <p>良かったことの記憶より、嫌なことの記憶の方が覚えている人は多いのではないでしょうか。</p>
    <p>人は、何度も繰り返し反復することで、強く記憶に残るようになるようです。</p>
    <p>そのため、嫌なことがあった時、クヨクヨと悩んだり反省したり、後悔したりと自分の中で何度も何度も考えることで、
    良かったこと脳に強く刻み込まれてしまうのです。</p>

    <p>このサイトは、1日のいいこと、良かったことを投稿するサイトです。</p>
    <p>毎日、楽しいことばかりではないかもしれませんが、そんなときこそ、ちょっとした"いいこと"を探してみませんか？</p>
    <p></p>
    <p>利用にあたり、登録は必要ありません。お気軽に投稿してください。</p>
    <br>
    <p>*公序良俗に反するものや、他人の権利を侵害し、または他人の迷惑となるものを投稿することは禁止します。</p>
    <p>*上記に違反する投稿が見つかった場合、投稿内容が「いいこと、良かったこと」ではないと管理者が判断した場合は、</p>
    <p>投稿者の許可なく、投稿を削除することがあります。</p>
  </div>
</div>