<div class="container">
  <h2>About</h2>
  <p>『今日もいいこと』は、1日のいいこと、良かったことを投稿するサイトです。</p>
  <p>毎日、楽しいことばかりではないかもしれませんが、ちょっとした"いいこと"を探してみませんか？</p>
  <p></p>
  <p>利用にあたり、登録等は必要ありませんので、お気軽に投稿してください。</p>
  <br>
  <h3>*注意事項*</h3>
  <p>公序良俗に反するものや、他人の権利を侵害し、または他人の迷惑となるものを投稿することは禁止します。</p>
  <p>上記に違反する投稿が見つかった場合、投稿内容が「いいこと、良かったこと」ではないと管理者が判断した場合は、</p>
  <p>投稿者の許可なく、投稿を削除することがあります。</p>
</div>