<%= link_to word_favorites_path(word), method: :post, remote: true, class: "pink" do %>
  <button type="button" class="btn btn-secondary rounded-pill">いいね<i class="fas fa-heart fa-fw"></i><%= word.favorites.count %></button>
<% end %>