/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

#message {
  color: #dc143c;
}

h3 {
  letter-spacing: 0.5em;
}

footer p {
  letter-spacing: 3px;
}

p {
  line-height: 1em;
  margin: 0.5em;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 3px 8px 3px 8px;
  letter-spacing: 0.2em;
}

li a:link {
  color: black;
  text-decoration: none;
}

li a:visited {
  color: black;
  text-decoration: none;
}

li a:hover {
  color: #cde9ea;
  text-decoration: none;
}

.title-image {
  width: 20%;
  max-width: 20%;
  height: auto;
  object-fit: cover;
}

.nav-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  padding: 0;
}

.footer-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  padding: 0;
  margin: 5px 45px;
}

.btn-primary {
  background: #cde9ea;
  border: #cde9ea;
}

.btn-primary:hover {
  background: #d9f9fa;
}

.line {
  background: #cde9ea;
  width: 100%;
  height: auto;
  padding: 20px;
  position: relative;
}

.image {
  max-width: 100%;
  height: auto;
}

.top-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-10%, -50%);
  -webkit-transform: translate(-10%, -50%);
}

.top-text p {
  line-height: 25px;
  font-size: 14px;
}

.card {
  margin: 8px auto;
  width: 330px;
  min-height: 180px;
}

.card-footer {
  background: #fff;
  border-top: none;
  padding-top: 0;
}